
#header-service {
    transition: all .5s;
    z-index: 997;
    padding: 15px 0
  }
  
  #header-service .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase
  }
  
  #header-service .logo a {
    color: #fff
  }
  
  #header-service .logo a span {
    color: #00e4ff
  }
  
  #header-service .logo img {
    max-height: 40px
  }
  
  .navbar-servce {
    padding: 0
  }
  
  .navbar-servce ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center
  }
  
  .navbar-servce li {
    position: relative
  }
  
  .navbar-servce a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    transition: .3s
  }
  
  .navbar-servce a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px
  }
  
  .navbar-servce .active, .navbar-servce a:hover, .navbar-servce li:hover>a {
    color: #00e4ff
  }
  
  .mobile-nav-toggle {
    float: right;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: .5s
  }
  
  @media (max-width:991px) {
    .mobile-nav-toggle {
      display: block
    }
    .navbar-servce ul {
      display: none
    }
  }
  
  .navbar-servce-mobile {
    float: right;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    transition: .3s;
    z-index: 999
  }
  
  .navbar-servce-mobile .mobile-nav-toggle {
    float: right;
    position: absolute;
    top: 15px;
    right: 15px
  }
  
  .navbar-servce-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: .3s
  }
  
  .navbar-servce-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #06396f
  }
  
  .navbar-servce-mobile .active, .navbar-servce-mobile a:hover, .navbar-servce-mobile li:hover>a {
    color: #06396f;
    background-color: #00e4ff
  }

